div.center {
    text-align: center;
    border-style: inset;
    border-width: 3px;
}

div.main_content{
    position: absolute;
    top: 25%;
    text-align: center;
}

div.help{
    display: none;
    position: absolute;
    width: 20%;
    height: 50%;
    top: 10%;
    left: 75%;
    background: #696969;
    border: #000000;
}

footer{
    position: absolute;
    bottom: 0px;
    left: 50%;

}
footer div{
    position: relative;
    left: -50%;
    border: dotted aqua 1px;
    color: aqua;
    text-align: center;
    width: 300px;
    height: 8%;
}

div.main_content table{
    margin: auto;
}

div.upper_white_form{
     position: relative;
     left: 50%;
     top: 0px;
 }


body {
    /*
        background: #000 url("/productshop/image/base/hots.jpg") 50% 0 no-repeat;
    */
    color: #6EA6CA;
    -webkit-background-size: auto;
    min-width: 994px;
    height: 600px;
}

.wrapper {
    width: 900px;
    margin-top: -25px;
    margin-right: -685px;
    margin-left: auto;
    position: relative;
}
.toper {
    width: 100%;
    height:150px;
    top: 70px;
    margin-right: auto;
    left: 100px;
    position: relative;
}
a.upload{
    width: 300px;
    height: 300px;
    background-image: url("/productshop/image/base/uploadImage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content;
}
a.upload:hover{
    background-image: url("/productshop/image/base/uploadImageHover.jpg");
    height: 300px;
    width: 350px;
}
a.upload div{
    width: 106px;
    height: 73px;
    background-image: url("/productshop/image/base/uploadImage.jpg");
    background-repeat: no-repeat;
    background-size: 99% 99%;
    background-origin: content;
}
a.upload div:hover{
    background-image: url("/productshop/image/base/uploadImageHover.jpg");
    background-size: 100% 100%;
}
div.img
{
    margin:2px;
    height:auto;
    width:0.2;
    float:left;
    text-align:center;
    width:120px;
}

div.img img
{
    display:inline;
    margin:3px;
}
div.img a img
{
    width:50px;
}

div.img a:hover img
{
    margin-top:-11px;
    width:70px;
}
div.desc
{
    text-align:center;
    font-weight:normal;
    width:120px;
    margin-top:2px;
    visibility:hidden;
    font-family: sans-serif;
    color: #f0f8ff;
}

div.rounded {
   /* background-color: #d6d7d4;*/
    /*color: #fff;*/
    font-weight: bold;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #c3c4c1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

span.cut-string{
    max-width:300px;
    word-wrap:break-word;
}

input.error{
    border: 1px solid #f00;
}
.error{
    border: 1px solid #f00;
}




